# matlab files
*.mat
*.asv

# test images
*.jpg
*.jpeg
*.png
!Resources/EBSD/images/*.jpeg
!Resources/EBSD/images/*.png
*.ang
.gitignore.bak
Examples/multiple_ebsd_unknown_OR/*
!Examples/multiple_ebsd_unknown_OR/*.m